<% include ./partials/header.ejs %>
<style>
    #login_container {
        margin: auto;
        width: 30%;
        padding: 10px;
    }

    input {
        margin: 3px;
    }
</style>
<div class="mx-auto" id="login_container">
    <h1>Sign Up!</h1>
    <form action="/register" method="post">
        <input type="text" class="form-control" name="username" placeholder="username">
        <input type="password" class="form-control" name="password" placeholder="password">
        <input class="btn btn-primary btn-block" type="submit" value="Sign Up">
    </form>
</div>

<% include ./partials/footer.ejs %>
